.service_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 20%;
    text-align: center;
}

.card_img{
    width: 90px;
    height: 75px;
    margin: 0 auto;
}

.title{
    font-size: 14px;
    color: #51535D;
    font-weight: 700;
    margin-top: -25px;
}

.description{
    font-size: 14px;
    color: #85868d;
    font-weight: 600;
    width: 83%;
    margin: -15px auto;
}

@media (max-width: 768px) {
    .service_container{
        display: block;
    }

    .card {
        display: flex;
        width: 100%;
        height: 120px;
        margin: 10px 0 10px 0;
    }

    .card_img{
        width: 30%;
        height: auto;
    }

    .card_content{
        width: 70%;
        text-align: start;
        margin-top: 10px;
    }

    .title{
        margin-top: 0;
    }

    .c_img{
        width: 90%;
    }
}